<div class = "container">
  <%= render 'books/error', book: @book%>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>Editing Book</h2>
      <%= form_with model: @book do |f| %>
        <label for="inputTitle">Title</label>
        </br><%= f.text_field :title, id:"inputTitle", placeholder: "本のタイトル" %>
        </br><label for="inputOpinion">Opinion</label>
        </br><%= f.text_area :body, id:"inputOpinion" %>
        </br><%= f.submit "Update Book" %>
      <% end %>
      <%= link_to book_path(@book.id) do %>
        Show
      <% end %>
      |
      <%= link_to books_path do %>
        Back
      <% end %>
    </div>
  </div>
</div>